.header,.menu .header{
  width:100%;
  box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.1);
  padding:0 10% 0 10%;
}

.header .hamburger{
  height: 20px;
  width: 30px;
  display: block;
}

.header .hamburger div{
  float: right;
  height: 2px;
  background: #fff;
  margin: 3px 0;
  border: 1px solid black;
  transition: all ease 0.5s;
}

.header .hamburger .one{
  width: 30px;  
}

.header .hamburger .two{
  width:20px;
}
.header:hover .hamburger .two{
  width:30px;
}

.header .hamburger .three{
  width: 25px;
}
.header:hover .hamburger .three{
  width: 30px;
}


.menu{
  position: fixed;
  top:0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background:#f8f8f8;
  transition: all ease 0.5s;
}

.menu .header{
  box-shadow: none;
}


.menu .header .close{
  height: 25px;
}

.menu .menu-items{
  height: 75vh;
  overflow-y: scroll;
  padding:60px 0px 0px 135px;
}

.menu .menu-items .item{
  margin: 18px 0px;
  transition:all ease 0.3s;
}

.menu .menu-items .item div p{
  cursor: pointer;
  left:0;
  transition-delay: 0.3s;
  position: relative;
  transition: all ease-in-out 0.3s;
}
.menu .menu-items .item div:hover p{
  cursor: pointer;
  left:50px;
}

.menu .menu-items .item div:hover p::before{
  content: "";
  position: absolute;
  left: -50px;
  top:25px;
  width: 35px;
  border-bottom: 2px solid black;
  transition: all ease 0.3s;
}

.menu .menu-items .links{
  margin: 40px 0px;
}
.menu .menu-items .links .link {
  margin-top: 15px;
}
.menu .menu-items .links .link a{
  color:#696969;
  font-size: 25px;
}



@media only screen and (max-width: 600px) {
  .header,.menu .header{
    height:17vh;
  }
  .header .logo,.menu .logo{
    height:45px;
  }
  .menu .menu-items{
    height:83vh;
    padding: 25px 0px 10px 65px;
  }
  .menu .menu-items .item{
    padding: 2px 0px;
  }
  .menu .menu-items .item div p{
    font-size: 31px;
  }
  
}

@media only screen and (min-width: 600px) {
  .header,.menu .header{
    height:19vh;
  }
  .header .logo,.menu .logo{
    height:50px;
  }
  .menu .menu-items{
    height:81vh;
    padding: 25px 0px 10px 85px ;
  }
  .menu .menu-items .item{
    margin: 6px 0px;
  }
  .menu .menu-items .item div p{
    font-size: 34px;
  }
}

@media only screen and (min-width: 768px) {
  .header,.menu .header{
    height:23vh;
  }
  .header .logo,.menu .logo{
    height:60px;
  }
  .menu .menu-items{
    height:77vh;
    padding: 30px 0px 10px 90px ;
  }
  .menu .menu-items .item{
    margin: 12px 0px;
  }
  .menu .menu-items .item div p{
    font-size: 37px;
  }
}

@media only screen and (min-width: 992px) {
  .header,.menu .header{
    height:25vh;
  }
  .header .logo,.menu .logo{
    height:60px;
  }
  .menu .menu-items{
    height:75vh;
    padding: 65px 0px 10px 135px ;
  }
  .menu .menu-items .item{
    margin: 18px 0px;
  }
  .menu .menu-items .item div p{
    font-size: 40px;
  }
}